@page "/"
@using CerebusBlazorUI.Utilities.Entity
@inject CerebusContext context

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new Fluent Blazor app.

@code{

    // override async Task SetParametersAsync(ParameterView parameters)
    //{
        //await context.Database.EnsureCreatedAsync();
    //}

}